/* Cyborg Theme */
body {
background-color: #060606;
color: #adafae;
}

a {
color: #2a9fd6;
}

h1, h2, h3, h4, h5, h6 {
color: #fff;
}

.navbar {
background-color: #222;
}

.navbar a {
color: #ccc !important;
}

pre, code {
background-color: #222;
color: #adafae;
}
